h1{
  font-size: 30px;
}
.title {
  font-size: 30px;
}

.table-container {
  max-width: 600px;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f5;
}

.table-cell {
  text-align: center;
  padding: 8px;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}